{% assign interests = site.data.data.sidebar.interests %}
{% if interests %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Interessi
  </h2>

  <ul class="list-unstyled interests-list">
    {% for interest in interests %}

      {% if interest.detail %}
      <li><div><b>{{ interest.item }}</b><br>{{ interest.detail }}</div></li>
      {% else %}
      <li>{{ interest.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//interests-->
{% endif %}
